body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1240px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:634px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5346 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:146px;
  width:1026px;
  height:634px;
  display:flex;
}
#u5346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:611px;
}
#u5347 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:169px;
  width:980px;
  height:611px;
  display:flex;
  color:#AAAAAA;
}
#u5347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:2px;
}
#u5348 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:219px;
  width:980px;
  height:1px;
  display:flex;
}
#u5348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:549px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5349 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:231px;
  width:942px;
  height:549px;
  display:flex;
}
#u5349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:2px;
}
#u5350 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:357px;
  width:922px;
  height:1px;
  display:flex;
}
#u5350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:2px;
}
#u5351 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:418px;
  width:922px;
  height:1px;
  display:flex;
}
#u5351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5352 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:324px;
  width:28px;
  height:15px;
  display:flex;
}
#u5352 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5352_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5353 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:324px;
  width:14px;
  height:16px;
  display:flex;
}
#u5353 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5353_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5354 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:324px;
  width:28px;
  height:16px;
  display:flex;
}
#u5354 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5354_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5355 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:380px;
  width:90px;
  height:27px;
  display:flex;
  color:#7F7F7F;
}
#u5355 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5356 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:380px;
  width:282px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5356 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5356_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5357 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:27px;
  width:1240px;
  height:103px;
  display:flex;
}
#u5357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5358 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:60px;
  width:322px;
  height:28px;
  display:flex;
}
#u5358 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5358_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:634px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5359 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:146px;
  width:200px;
  height:634px;
  display:flex;
}
#u5359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:61px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5360 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:184px;
  width:200px;
  height:61px;
  display:flex;
  font-size:20px;
}
#u5360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5361 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:244px;
  width:200px;
  height:38px;
  display:flex;
  font-size:14px;
}
#u5361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5362 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:281px;
  width:200px;
  height:38px;
  display:flex;
  font-size:14px;
}
#u5362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:2px;
}
#u5363 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:479px;
  width:922px;
  height:1px;
  display:flex;
}
#u5363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5364 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:184px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u5364 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5364_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5365 {
  position:absolute;
  left:980px;
  top:750px;
}
#u5365_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5365_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u5366 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5367 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5367 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5368 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5368 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5369 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5369 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5370 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5370 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5371 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5371 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5365_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5365_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5372 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5373 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u5373 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5374 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5374 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5375 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5375 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5376 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5376 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5377 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5377 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5365_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5365_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5378 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5379 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5379 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5380 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u5380 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5381 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5381 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5382 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5382 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5383 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5383 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5365_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5365_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5384 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5385 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5385 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5386 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5386 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5387 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u5387 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5388 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5388 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5389 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5389 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5365_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5365_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5390 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5391 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5391 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5392 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5392 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5393 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5393 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5394 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u5394 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5395 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5395 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5365_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5365_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5396 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5397 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5397 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5398 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5398 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5399 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5399 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5400 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u5400 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5401 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u5401 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5402 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:506px;
  width:20px;
  height:20px;
  display:flex;
}
#u5402 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5402_img.disabled {
}
#u5402.disabled {
}
#u5402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:38px;
}
#u5403 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:55px;
  width:42px;
  height:38px;
  display:flex;
}
#u5403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5404 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:440px;
  width:90px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5404 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5405 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:436px;
  width:302px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5405_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5406 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:440px;
  width:8px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5406_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5407 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:324px;
  width:28px;
  height:16px;
  display:flex;
}
#u5407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5407_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5408 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:440px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5408_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5409 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:318px;
  width:200px;
  height:38px;
  display:flex;
  font-size:14px;
}
#u5409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5410 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:355px;
  width:200px;
  height:38px;
  display:flex;
  font-size:14px;
}
#u5410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:2px;
}
#u5411 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:540px;
  width:922px;
  height:1px;
  display:flex;
}
#u5411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5412 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:501px;
  width:90px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5412 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5413 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:497px;
  width:281px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5413 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5413_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5414 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:501px;
  width:8px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5414 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5414_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5415 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:501px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5415 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5415_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:2px;
}
#u5416 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:601px;
  width:922px;
  height:1px;
  display:flex;
}
#u5416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5417 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:562px;
  width:90px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5417 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5418 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:558px;
  width:179px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5418 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5418_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5419 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:562px;
  width:8px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5419 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5419_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u5420 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:562px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u5420 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5420_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:753px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u5421 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:27px;
  width:544px;
  height:753px;
  display:flex;
  color:#AAAAAA;
}
#u5421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5422 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:628px;
  width:70px;
  height:40px;
  display:flex;
}
#u5422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5423 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:628px;
  width:70px;
  height:40px;
  display:flex;
}
#u5423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5424 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:51px;
  width:127px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u5424 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5424_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5425 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:39px;
  width:30px;
  height:30px;
  display:flex;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5426 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:159px;
  width:28px;
  height:16px;
  display:flex;
}
#u5426 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5426_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5427 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:363px;
  width:14px;
  height:16px;
  display:flex;
}
#u5427 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5427_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5428 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:205px;
  width:28px;
  height:16px;
  display:flex;
}
#u5428 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5428_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5429_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:73px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5429_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:73px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5429 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:196px;
  width:230px;
  height:73px;
  display:flex;
}
#u5429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5429_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:73px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5429.disabled {
}
#u5430_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5430_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5430 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:359px;
  width:68px;
  height:37px;
  display:flex;
}
#u5430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5430_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5430.disabled {
}
#u5431_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5431_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5431 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:146px;
  width:94px;
  height:37px;
  display:flex;
}
#u5431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5431_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5431.disabled {
}
#u5432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5432 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:392px;
  width:200px;
  height:38px;
  display:flex;
  font-size:14px;
}
#u5432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
