body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1240px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:564px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4545 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:146px;
  width:1026px;
  height:564px;
  display:flex;
}
#u4545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:2px;
}
#u4546 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:219px;
  width:980px;
  height:1px;
  display:flex;
}
#u4546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4547 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:270px;
  width:942px;
  height:251px;
  display:flex;
}
#u4547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:2px;
}
#u4548 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:325px;
  width:922px;
  height:1px;
  display:flex;
}
#u4548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:2px;
}
#u4549 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:386px;
  width:922px;
  height:1px;
  display:flex;
}
#u4549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4550 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:348px;
  width:120px;
  height:15px;
  display:flex;
  color:#7F7F7F;
}
#u4550 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4550_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4551 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:292px;
  width:42px;
  height:16px;
  display:flex;
}
#u4551 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4551_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4552 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:348px;
  width:58px;
  height:27px;
  display:flex;
  color:#7F7F7F;
}
#u4552 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4553 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:27px;
  width:1240px;
  height:103px;
  display:flex;
}
#u4553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4554 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:60px;
  width:322px;
  height:28px;
  display:flex;
}
#u4554 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4554_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:564px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4555 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:146px;
  width:200px;
  height:564px;
  display:flex;
}
#u4555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:61px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4556 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:184px;
  width:200px;
  height:61px;
  display:flex;
  font-size:20px;
}
#u4556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4557 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:244px;
  width:200px;
  height:38px;
  display:flex;
  font-size:14px;
}
#u4557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:2px;
}
#u4558 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:447px;
  width:922px;
  height:1px;
  display:flex;
}
#u4558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4559 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:292px;
  width:56px;
  height:16px;
  display:flex;
}
#u4559 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4559_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4560 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:348px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4560 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4560_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4561 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:408px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4561 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4561_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4562 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:184px;
  width:120px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u4562 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4562_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4563 {
  position:absolute;
  left:1003px;
  top:474px;
}
#u4563_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4563_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u4564 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4565 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4565 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4566 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4566 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4567 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4567 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4568 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4568 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4569 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4569 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4563_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4563_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4570 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4571 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u4571 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4572 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4572 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4573 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4573 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4574 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4574 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4575 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4575 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4563_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4563_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4576 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4577 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4577 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4578 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u4578 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4579 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4579 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4580 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4580 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4581 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4581 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4563_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4563_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4582 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4583 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4583 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4584 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4584 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4585 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u4585 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4586 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4586 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4587 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4587 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4563_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4563_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4588 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4589 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4589 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4590 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4590 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4591 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4591 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4592 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u4592 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4593 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4593 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4563_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u4563_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4594 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4595 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4595 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4596 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4596 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4597 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4597 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4598 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
}
#u4598 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4599 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u4599 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4600 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:474px;
  width:20px;
  height:20px;
  display:flex;
}
#u4600 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4600_img.disabled {
}
#u4600.disabled {
}
#u4600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4601 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:474px;
  width:20px;
  height:20px;
  display:flex;
}
#u4601 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4601_img.disabled {
}
#u4601.disabled {
}
#u4601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4602 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:347px;
  width:1px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4602 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4602_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u4603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:38px;
}
#u4603 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:55px;
  width:42px;
  height:38px;
  display:flex;
}
#u4603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4604 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:186px;
  width:20px;
  height:20px;
  display:flex;
}
#u4604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
}
#u4605 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:178px;
  width:740px;
  height:35px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
}
#u4605 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4606 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:292px;
  width:28px;
  height:16px;
  display:flex;
}
#u4606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4606_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4607 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:292px;
  width:56px;
  height:16px;
  display:flex;
}
#u4607 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4607_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4608 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:408px;
  width:90px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4608 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4609 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:348px;
  width:74px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u4609 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4609_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4610 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:292px;
  width:28px;
  height:16px;
  display:flex;
}
#u4610 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4610_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4611 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:347px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4611_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4612 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:408px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u4612 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4612_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4613 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:292px;
  width:56px;
  height:16px;
  display:flex;
}
#u4613 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4613_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4614 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:292px;
  width:56px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u4614 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4614_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4615 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:292px;
  width:56px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u4615 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4615_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4616 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:348px;
  width:58px;
  height:27px;
  display:flex;
  color:#7F7F7F;
}
#u4616 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4617 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:348px;
  width:58px;
  height:27px;
  display:flex;
  color:#7F7F7F;
}
#u4617 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4618 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:348px;
  width:58px;
  height:27px;
  display:flex;
  color:#AAAAAA;
}
#u4618 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4619 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:403px;
  width:120px;
  height:15px;
  display:flex;
  color:#7F7F7F;
}
#u4619 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4619_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4620 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:403px;
  width:74px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u4620 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4620_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4621 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:403px;
  width:58px;
  height:27px;
  display:flex;
  color:#7F7F7F;
}
#u4621 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4622 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:403px;
  width:58px;
  height:27px;
  display:flex;
  color:#7F7F7F;
}
#u4622 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4623 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:403px;
  width:58px;
  height:27px;
  display:flex;
  color:#AAAAAA;
}
#u4623 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4624 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:281px;
  width:200px;
  height:38px;
  display:flex;
  font-size:14px;
}
#u4624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4625 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:318px;
  width:200px;
  height:38px;
  display:flex;
  font-size:14px;
}
#u4625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4626 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:223px;
  width:98px;
  height:40px;
  display:flex;
}
#u4626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4627 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:223px;
  width:63px;
  height:40px;
  display:flex;
}
#u4627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4628 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:308px;
  width:80px;
  height:62px;
  display:flex;
  color:#AAAAAA;
}
#u4628 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 0px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
